html,
body {
  margin: 0;
  padding: 0;
}


canvas {
  display: block;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#center-section {
  position: absolute;
  top: 125px;
  /* 对应 gridSize 的起点 */
  left: 125px;
  /* 对应 gridSize 的起点 */
  width: 500px;
  /* 4x gridSize */
  height: 500px;
  /* 4x gridSize */
  background:lightblue;
  z-index: 0;
  display: flex;
  flex-direction: column;
  /* 子元素垂直排列 */
  justify-content: center;
  align-items: flex-end;
}

#center-section button {
  padding: 15px 30px;
  /* 内边距调整按钮大小 */
  font-size: 20px;
  /* 字体大小 */
  border: none;
  /* 移除默认边框 */
  border-radius: 10px;
  /* 圆角 */
  background-color: #4CAF50;
  /* 按钮背景颜色 */
  color: white;
  /* 按钮文字颜色 */
  cursor: pointer;
  /* 鼠标悬停时显示手型 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* 阴影效果 */
  transform: translateX(-195px);
}

#center-section button:hover {
  background-color: #45a049;
}

/* 防止 A-Frame 场景占满全屏 */
a-scene {
  width: 100%;
  /* 场景宽度适应容器 */
  height: 100%;
  /* 场景高度适应容器 */
}



.poker_container {
  position: absolute;
  top: 0px;
  /* 对应 gridSize 的起点 */
  left: 810px;
  /* 对应 gridSize 的起点 */
  width: 500px;
  /* 4x gridSize */
  height: 500px;
  /* 4x gridSize */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  border: 1px solid #ccc;
  transform: translateX(-50px);
}

.box {
  width: 275px;
  height: 368px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
}

/* 顶部右上角按钮 */
#top-right-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background-color: #FFC300;
  color: white;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.3s;
}

#top-right-button:hover {
  background-color: #555;
}

/* 滑出面板样式 */
#slide-out-panel {
  position: fixed;
  top: 0;
  right: -600px;
  /* 默认隐藏在屏幕右侧 */
  width: 600px;
  height: 100%;
  background-color: #f4f4f4;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

/* 滑出面板内容 */
#slide-out-panel p {
  font-size: 16px;
  color: #333;
  margin: 0 0 10px;
}

.poker-card {
  width: 70.28px;
  height: 107.2px;
  cursor: grab;
  position: absolute;
  border: 1px solid black;
}