html,
body {
  margin: 0;
  padding: 0;
  background-color: chocolate;
}


canvas {
  display: block;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#center-section {
  position: absolute;
  top: 125px;
  /* 对应 gridSize 的起点 */
  left: 125px;
  /* 对应 gridSize 的起点 */
  width: 500px;
  /* 4x gridSize */
  height: 500px;
  /* 4x gridSize */
  background:#C1E1C1;
  z-index: 0;
  display: flex;
  flex-direction: column;
  /* 子元素垂直排列 */
  justify-content: center;
  align-items: flex-end;
}

#center-section button {
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateX(-170px);
}

#center-section button:hover {
  background-color: #45a049;
}

/* 防止 A-Frame 场景占满全屏 */
a-scene {
  width: 100%;
  /* 场景宽度适应容器 */
  height: 100%;
  /* 场景高度适应容器 */
}


.poker_container {
  position: absolute;
  top: 0px;
  /* 对应 gridSize 的起点 */
  left: 810px;
  /* 对应 gridSize 的起点 */
  width: 500px;
  /* 4x gridSize */
  height: 500px;
  /* 4x gridSize */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  border: 1px solid #ccc;
  transform: translateX(-50px);
}

.box {
  width: 275px; 
  height: 350px;
  background-color: #FFD580;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

#top-right-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 25px;
  border: none;
  background-color: #FFC300;
  color: white;
  cursor: pointer;
  z-index: 2;
  animation: color-change 1s infinite; 
  transition: background-color 0.3s;
}

 @keyframes color-change {
  0% { background-color: white; } 
      100% { background-color: green; } 
}

#top-right-button:hover {
  background-color: #555;
}

#slide-out-panel {
  position: fixed;
  top: 0;
  right: -600px;
  /* 默认隐藏在屏幕右侧 */
  width: 600px;
  height: 100%;
  background-color: #f4f4f4;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

/* 滑出面板内容 */
#slide-out-panel p {
  font-size: 16px;
  color: #333;
  margin: 0 0 10px;
}

.poker-card {
  width: 70.28px;
  height: 107.2px;
  cursor: grab;
  position: absolute;
  border: 1px solid black;
  transform: translateY(-70%);
  background-color: white; 
  transition: background-color 0.3s ease; 
}


.poker-card:hover {
  background-color: chocolate; 
}


.poker-card:nth-child(1) {
  transform: translate(-90px, -70%);
}
.poker-card:nth-child(2) {
  transform: translate(-75px, -70%);
}
.poker-card:nth-child(3) {
  transform: translate(-60px, -70%);
}
.poker-card:nth-child(4) {
  transform: translate(-45px, -70%);
}
.poker-card:nth-child(5) {
  transform: translate(-30px, -70%);
}
.poker-card:nth-child(6) {
  transform: translate(-15px, -70%);
}
.poker-card:nth-child(7) {
  transform: translate(0px, -70%);
}
.poker-card:nth-child(8) {
  transform: translate(15px, -70%);
}
.poker-card:nth-child(9) {
  transform: translate(30px, -70%);
}
.poker-card:nth-child(10) {
  transform: translate(45px, -70%);
}
.poker-card:nth-child(11) {
  transform: translate(60px, -70%);
}
.poker-card:nth-child(12) {
  transform: translate(75px, -70%);
} 

#card2\.13 {
  Width: 91.364px;
  Height: 139.36px;
  position: fixed; /* 设置为固定定位 */
  pointer-events: none; /* 禁用鼠标事件，防止点击或拖动 */
  z-index: 10; 
  transform: translateY(65%)
}

#card1\.13 {
  Width: 91.364px;
  Height: 139.36px;
  position: fixed; /* 设置为固定定位 */
  pointer-events: none; /* 禁用鼠标事件，防止点击或拖动 */
  z-index: 10; 
  transform: translateY(65%)
}

#card3\.13 {
  Width: 91.364px;
  Height: 139.36px;
  position: fixed; /* 设置为固定定位 */
  pointer-events: none; /* 禁用鼠标事件，防止点击或拖动 */
  z-index: 10; 
  transform: translateY(65%)
}

#card4\.13 {
  Width: 91.364px;
  Height: 139.36px;
  position: fixed; /* 设置为固定定位 */
  pointer-events: none; /* 禁用鼠标事件，防止点击或拖动 */
  z-index: 10; 
  transform: translateY(65%)
}

#backtomain {
  position: fixed; 
  right: 20px;     
  bottom: 10px;    
  padding: 10px 20px; 
  background-color: #4CAF50; 
  color: white;    
  border: none;    
  border-radius: 5px; 
  font-size: 16px;  
  cursor: pointer; 
}

#backtomain:hover {
  background-color: #45a049;
}


.Conqueror {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, 1000%); 
  width: 27%; 
  height: auto; 
}

